.container {
  position: absolute;
  bottom: 0;
  width: calc(100% - 120px);
  height: 250px;
  margin: 60px;
  color: #ffffff;
  text-shadow: 0 0 5px #a0a0a0bd, 0 0 40px #ffffffb8;
}

.glass {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('/login.jpg');
  background-size: cover;
  background-position: -100%;
  clip-path: inset(calc(100% - 310px) 60px 60px 60px);
  filter: blur(8px);
}

.background {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.4;
  border-radius: 2px;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 10px 20px;
}

.text {
  font-size: 1.9em;
  line-height: 1.3;
  font-weight: 400;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3em;
}

.author {
  display: flex;
  flex-direction: column;
}

.name {
  margin-top: 0;
  margin-bottom: 10px;
}

.author span {
  font-size: 0.8em;
  margin-top: 5px;
}

.stars {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.star {
  margin-left: 3px;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: 1px solid #cfcfcf;
  border-radius: 50%;
}

.arrow:hover {
  border-color: white;
  cursor: pointer;
  background-color: #ffffff2f;
}
