* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto monospace;
  color: #04050c;
  font-size: 10.5pt;
  font-weight: 100;
  height: 100vh;
}

h1,
h2 {
  margin-bottom: 5px;
  font-weight: bold;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 15px;
}

.capitalized {
  text-transform: capitalize;
}

button {
  padding: 10px 14px;
  border: none;
  border-radius: 7px;
}

button:hover {
  cursor: pointer;
}

button.primary {
  background: #04050c;
  color: #ffffff;
}

button:hover {
  filter: contrast(0.8);
}

.error-text {
  color: red;
  weight: bold
}