* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto monospace;
  color: #04050c;
  font-size: 10.5pt;
  font-weight: 100;
}

h1,
h2 {
  margin-bottom: 5px;
  font-weight: bold;
}

.capitalized {
  text-transform: capitalize;
}

button {
  margin-top: 5px;
  padding: 10px 14px;
  border-radius: 7px;
}

button:hover {
  cursor: pointer;
}

button.primary {
  background: #04050c;
  color: #ffffff;
}
