.images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60vw, 100vw));
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.loading {
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: rotating 1.5s linear infinite;
}

@media screen and (min-width: 425px) {
  .images {
    grid-template-columns: repeat(auto-fill, minmax(220px, 235px));
    grid-gap: 18px;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
